openapi: 3.2.0
info:
  description: ''
  version: 1.0.0
  title: Pathmind Model Upload API
  contact:
    email: slin@pathmind.com
servers:
- description: Pathmind API
  url: https://api.pathmind.com
tags:
- name: Model Upload
  description: ''
  externalDocs:
    description: ''
    url: ''
paths:
  /al/upload:
    post:
      tags:
      - Model Upload
      summary: Upload an AnyLogic simulation model with an optional project
      operationId: uploadAlModel
      requestBody:
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                projectId:
                  type: integer
                file:
                  type: string
                  format: binary
              required:
              - file
      responses:
        '201':
          description: Upload succeeded
          headers:
            location:
              description: Link to the web app to proceed with editing created experiment from upload
              schema:
                type: string
              example: https://app.pathmind.com//editGoals/35323?experiment=33093
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      security:
      - api_key: []
components:
  schemas:
    Error:
      type: object
      properties:
        timestamp:
          type: string
        error:
          type: string
        status:
          type: integer
        path:
          type: string
      example:
        timestamp: '2021-09-09T15:12:16.380365+02:00'
        error: no pathmind api user for api key
        status: 401
        path: /al/upload
  securitySchemes:
    api_key:
      type: apiKey
      name: X-PM-API-TOKEN
      in: header
externalDocs:
  description: Find out more about Pathmind
  url: https://help.pathmind.com/
